src/main/mule/warroom-customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
          http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
          http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">

  <flow name="get-customer-flow">
    <http:listener config-ref="http-listener-config" path="/customers/{id}" allowedMethods="GET"/>
    <logger level="INFO" message="Fetching customer profile - id: #[attributes.uriParams.id]"/>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ customerId: attributes.uriParams.id, status: "ACTIVE", name: "John Doe" }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

  <flow name="update-customer-flow">
    <http:listener config-ref="http-listener-config" path="/customers/{id}" allowedMethods="PUT"/>
    <logger level="INFO" message="Updating customer - id: #[attributes.uriParams.id]"/>
    <ee:transform>
      <ee:message>
        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{ customerId: attributes.uriParams.id, status: "UPDATED" }]]></ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>

</mule>